<%if @nota%>
	$(".Notes_num").html(<%=escape_javascript(@nota.number)%>);
	$("#Container_Resultados").fadeIn('fast');
	
	var ret = "";
	
	<%
	@produtos.each do |p|
		$check = ProductReceiptsUser.first(:conditions => ['products_receipt_id = ?', p.id])
	%>
		ret += "<div class='Product_name'>";
		ret += "<span class=\"Product_name_text\" <%= "style='text-decoration:line-through;'" if $check%>>";
		ret += "<%= escape_javascript(image_tag("img_point.png", :class=>"Point_img_align")) %><%=p.product.name%></span>";
		<%
		if $check%>
			ret += "<%= escape_javascript(link_to(image_tag("img_like_gray.png", :class=>"Like_img_align"), "javascript:alert('Este item já foi positivado!');"))%>";
		<%else%>
			ret += "<%= escape_javascript(link_to(image_tag("img_like_blue.png", :onclick => "this.src = '/images/img_like_gray.png'" ,:class=>"Like_img_align"), positivar_revendas_dashboard_index_path + "?p=#{p.id}" , :remote => true)) %>";
		<%end%>
		
		
		ret += "</div>";
	<%end%>
	
	$("#Container_Resultados").html(ret);
	
<%else%>
	alert("Nota não encontrada. Verifique se o número foi digitado corretamente.");
<%end%>