<%content_for :title do%>
	
<%end%>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Aquaclor - Ranking</title>
	<%= stylesheet_link_tag "dashboard" %>
</head>
<%content_for :head do%>
	<script>
	$(document).ready(function() {
	    $(".Slider_box").hide();

		$("#Div_clique").click(function(){
			if ($(".Slider_box").is(":hidden")) {
				$(".Slider_box").slideDown("slow");
			} else {
				$(".Slider_box").slideUp("hide");
			}
		});
	});
	</script>
<%end%>

<div id="Box_left">
	<div class="Ranking_box">
		
		<div class="Info_user">
			<span class="h1_title_info">Nome do Usuário</span><br />
			<span class="h2_title_info">Nome da Revenda</span>
			<span class="Align_bt_altera_dados">Alterar dados pessoais</span>
			<%= image_tag("img_detail_line_user_info.png", :class=>"Img_info_align")%>
		</div>
		<div class="Ranking_info">
			<span class="Title_ranking">Ranking</span>
			<div class="First_position">
				<span class="Position_num_blue">1º</span><span class="Position_text">Vendeu</span><span class="Position_num_orange">99999999</span><span class="Position_text">produtos.</span>
			</div>
			<div class="Your_position">
				<span class="Position_num_blue">999º</span><span class="Position_text">Você Vendeu</span><span class="Position_num_orange">99999999</span><span class="Position_text">produtos.</span>
			</div>	
								
		</div>
		<br /><br /><br />
		<div class="Produtcts_positivation">
			<span class="Title_ranking">Positivação de Produtos</span>
			<div class="Search">
				<div class="Clear"></div><br />	<br />			
				<div class="Bt_search"><%= link_to image_tag("bt_buscar.png"), "#"%></div>
				<div class="Bg_input_search"><input type="text"/></div>
				<div class="Img_line_detail"><%= image_tag("img_detal_cnpj.png")%></div>
				<div class="Search_text">Buscar por Nota</div>
				<div class="Clear"></div><br /><br />
			</div>
			<div class="Notes">
				<span class="Notes_text">Nota Nº</span><span class="Notes_num">9999999</span>
			</div>		
			<div class="Product_name">
				<span class="Product_name_text"><%= image_tag("img_point.png", :class=>"Point_img_align") %>Nome do Produto</span><%= image_tag("img_like_blue.png", :class=>"Like_img_align")%>
			</div>
			<br />		
			<div class="Product_name">
				<span class="Product_name_text"><%= image_tag("img_point.png", :class=>"Point_img_align")%>Nome do Produto</span><%= image_tag("img_like_gray.png", :class=>"Like_img_align")%>
			</div>							
		</div>	
			
	</div> 
</div>
<div id="Box_right">
    <div id="Box_ondeencontrar">
    <br />
        <h1 class="Title_3_int_blue_big">Onde encontrar?</h1>
        <p class="Text_2_int">Selecione as informações de sua localização abaixo e encontre as revendas mais próximas.</p>
        <p class="Title_4_int"><a href="./onde_encontrar">Clique aqui!</a></p><br /><br /><br /><br /><br /><br />
        <h1 class="Title_5_int">Veja também:</h1>
        <a href="./ph_clorador"><img src="../images/img_aquaclor_ph_cl.png" width="205" height="61" class="img_align_aqua_box_left" /></a>
		<br /><br /><br />
		<a href="./clorador"><img src="../images/img_aquaclor_clorador.png" width="205" height="61" class="img_align_aqua_box_left" /></a>
    </div>   

</div>