<%content_for :head do%>
<%= stylesheet_link_tag "cadastro"%>
<%=javascript_include_tag "jquery.validate.min.js"%>
<%=javascript_include_tag "meusmetodos.js"%>
<%#=javascript_include_tag "jquery.meio.mask.js"%>
	<script>
		jQuery(document).ready(function(){		
    	jQuery('#new_user').validate({
        rules: {
            "user[name]": {
                required: true,
                minlength: 2
            },
			"user[email]": {
                required: true,
                email: true
            },
			"user[password]":{
				required:true,
				minlength: 6
			},			
			"user[password_confirmation]": {
                required: true,
                minlength: 6,
				equalTo: "#user_password"
            }
			
        },
        messages: {
            "user[name]":{
				required: "Preencha o seu nome",
				minlength: 	"Mínimo de 2 caracteres"
			},
			"user[email]":{
				required: "Preencha o seu email",
				email: "Informe um email válido"	
			},
			"user[password]":{
				required: "Preencha com uma senha",
				minlength: "Mínimo de 6 caracteres"	
			},
			"user[password_confirmation]":{
				required: "Preencha com a confirmação",
				minlength: "Mínimo de 6 caracteres",
				equalTo: "Confirmação não é igual a senha"	
			}
        }
    });
});
	</script>

<% end %>

<div id="flash_error_cadastro" style="display:none;"></div>
<div class="Cadastro_box">
	<%= form_for [:revendas, @user], :remote => true do |f| %>
		<div id="Cad_Box">
			<div class="Cad_item_box">
				<%if !current_user%>
					<%= f.hidden_field :reseller_id, :value => $revenda_id %>
				<%end%>
					
					<%= f.label :name, raw('Nome <br /> Completo') %>
				<div class="Login_input">
					<%= image_tag("img_detal_cnpj.png", :class=>"Img_line_align") %>
					<%= f.text_field :name %>
				</div>
			</div>

			<div class="Cad_item_box">
					<%= f.label :address, 'Endereço' %>
				<div class="Login_input_endereco">
					<%= image_tag("img_detal_cnpj.png", :class=>"Img_line_align") %>
					<%= f.text_field :address %>
				</div>
			</div>		

			<div class="Cad_item_box">
					<%= f.label :date_birth, raw('Data de<br />Nascimento') %>
				<div class="Login_input_data_nasc">
					<%= image_tag("img_detal_cnpj.png", :class=>"Img_line_align") %>
		    		<%= f.date_select :date_birth, { :start_year => 1950, :end_year => Time.now.year}%>
				</div>
			</div>

			<div class="Cad_item_box">
				<%= f.label :civil_status, 'Estado Civil' %>
				<div class="Login_input_est_civil">
					<%= image_tag("img_detal_cnpj.png", :class=>"Img_line_align") %>
					<%= f.select :civil_status, (["Solteiro(a)", "Casado(a)", "Separado(a)", "Divorciado(a)", "Viúvo(a)"])%>
				</div>
			</div>
		
		
			<div class="Cad_item_box">
				<%= f.label :phone, "Telefone" %>
				<div class="Login_input_telefone">
					<%= image_tag("img_detal_cnpj.png", :class=>"Img_line_align") %>
					<%= f.text_field :phone %>
				</div>
			</div>

			<div class="Cad_item_box">
				<%= f.label :email, "E-mail" %>
				<div class="Login_input_email">
					<%= image_tag("img_detal_cnpj.png", :class=>"Img_line_align") %>
					<%= f.text_field :email %>
				</div>
			</div>

			<div class="Cad_item_box">
				<%= f.label :password, "Senha" %>
				<div class="Login_input_email">
					<%= image_tag("img_detal_cnpj.png", :class=>"Img_line_align") %>
					<%= f.password_field :password %>
				</div>
			</div>
				
			<div class="Cad_item_box">
				<%= f.label :password_confirmation, raw("Confirmar <br /> Senha") %>
				<div class="Login_input">
					<%= image_tag("img_detal_cnpj.png", :class=>"Img_line_align") %>
					<%= f.password_field :password_confirmation %>
				</div>
			</div>		
		</div>
		<% if !current_user %>		
		<div class="Cad_item_text_area_box">
			<label>Regulamento</label><div class="Text_area_input"><%= image_tag("text_area_line_detail.png", :class=>"Img_line_textarea_align") %>
<textarea>Regulamento de campanha de incentivo
	
Concurso Aquaclor e pH-Cl – Nautilus

1. O concurso denominado "Aquaclor e pH-Cl” é promovido pela empresa NAUTILUS EQUIPAMENTOS INDUSTRIAIS LTDA. Empresa com sede à RUA BAHIA, 22, RECREIO ESTORIL, ATIBAIA – SP. Inscrita no CNPJ sob o nº 53.476.057/0001-28, doravante designada “promotora do concurso”, e é aberto apenas às revendas participantes da campanha. 

2. O concurso terá início em 2 de janeiro de 2012 às 00h00 e término dia 30 de março de 2012 às 23h59. O resultado será divulgado no dia 6 de abril de 2012. Os vencedores serão informados por meio de ligações telefônicas e avisos em seus e-mails pessoal e comercial.

3. Para participar, o vendedor deverá acessar o site do Aquaclor, no www.aquaclor.com.br para realizar seu cadastro, fornecendo as informações solicitadas. 

3.1. Somente farão parte do concurso os vendedores cadastrados no site. E apenas poderão participar do concurso as revendas que fazem parte da campanha de lançamento dos produtos Aquaclor e pH-Cl. 

3.2. Os vendedores que realizarem seu cadastro, mas o mantiverem inativo serão automaticamente desclassificados.

3.3. A pós a realização do cadastro, cada vendedor deverá registrar o código dos produtos Aquaclor e pH-Cl vendidos juntamente com o número da NF fornecida pela Nautilus no ato da compra para a revenda. Esses dados serão armazenados e, ao final do concurso, os vendedores que apresentarem melhor desempenho na venda de ambos serão premiados.

3.4. Fica estabelecido que os dois produtos possuem peso igual na soma final das vendas.

3.5. Fica estabelecido que, em caso de empate, será premiado o vendedor que melhor apresentar equilíbrio na venda dos dois produtos. Ou seja, os participantes devem buscar, ao máximo, a realização do mesmo número de vendas para os dois produtos.

3.6. Fica estabelecido que os participantes terão até a data limite do concurso para efetuar o cadastro de suas vendas.

3.7. Fica estabelecido que, após o término do concurso não mais serão aceitos códigos de vendas, ainda que realizadas durante o concurso. Portanto, 
é recomendável que os participantes cadastrem suas vendas o mais breve possível. 

4. Não há limite máximo para o volume de vendas.

5. É vedada a participação de funcionários e seus parentes até segundo grau da promotora do concurso, bem como de quaisquer outras pessoas e empresas envolvidas na organização deste.

6. As revendas serão as responsáveis pela quantidade de vendedores cadastrados no concurso. 

7. Terão direito ao prêmio os cinco (5) melhores vendedores entre todas as revendas participantes, um total de 15.

8. Os cinco (5) vencedores terão direito a um Samsung Galaxy Tab cada. 

8.1. Os cinco (5) prêmios não poderão ser trocados ou devolvidos à empresa promotora deste concurso.  

8.2. Os prêmios serão entregues aos vencedores pelos representantes Nautilus. Cada representante deverá entregar os prêmios aos vendedores das revendas que estiverem sob sua responsabilidade. Ou ainda por meio de entrega via SEDEX.

8.3. No caso de entregas via SEDEX, a empresa promotora não se responsabilizará pela demora na entrega do prêmio, uma vez que os vencedores estarão sujeitos aos prazos da empresa responsável pela entrega.

8.4 Se os vencedores do concurso receberem o prêmio danificado, a empresa promotora se responsabilizará pela reposição do mesmo apenas mediante envio do prêmio danificado pelos correios.

8.5 A empresa promotora não se responsabiliza por eventuais trocas de prêmio que os vencedores façam entre si. 

8.6 A empresa promotora não se responsabiliza por prêmios danificados em trocas realizadas entre vencedores do concurso.

9. A empresa promotora e os profissionais envolvidos com a promoção não se responsabilizam pelo fornecimento de dados falsos, incorretos, imprecisos ou incompletos dos participantes que impossibilitem sua localização e a entrega do prêmio.

10. Em caso de fraude ou sua mera suspeita, o participante será automaticamente desclassificado, sem necessidade de prévio aviso.

11. Este concurso é de caráter exclusivamente cultural, não estando vinculado à compra de produto nem subordinado a qualquer modalidade de sorte (artigo 30 do decreto-lei 70.951/72).

12. A simples participação neste concurso implica total conhecimento e aceitação deste regulamento.

13. Quaisquer dúvidas, divergências ou situações não previstas neste regulamento serão julgadas e decididas de forma soberana e irrecorrível pela comissão julgadora.

14. Fica estabelecido que o concurso poderá ser prorrogado pelo período que os responsáveis julgarem necessário, sem que haja, obrigatoriamente, prévio aviso aos participantes. O mesmo se aplica para a data de divulgação dos vencedores.

15. Fica estabelecido que o prêmio é intrasferível, não sendo permitido que os vencedores desistam do prêmio para repassá-lo a outro participante ou conhecido.

15.1. A entrega do prêmio será feita no endereço fornecido pelos vencedores do concurso, estando os mesmos livres para fornecerem o endereço que mais atender às suas necessidades. Após a entrega, a empresa promotora não se responsabiliza pelo destino dado ao prêmio.

16. Os vencedores autorizam, desde já, a veiculação de seus nomes, imagens e vozes na divulgação do concurso e seu resultado, em qualquer meio de comunicação existente, ou que venha a existir, para utilização das mesmas em: cartazes, filmes em qualquer tipo de mídia e peças promocionais para a divulgação da conquista do prêmio ou em quaisquer outros suportes e/ou meio de transmissão com ou sem provedor, sem que a promotora do concurso tenha que fazer qualquer pagamento para tanto.

17. Tendo em vista as características inerentes ao ambiente da Internet, a empresa não tem como garantir que o acesso aos seus sites ou redes sociais, inclusive as promoções e concursos neles veiculadas, estejam livres de invasões, interrupções ou suspensões, não inteiramente sujeitas ao seu controle, se eximindo de qualquer responsabilidade advinda de tais fatos e/ou atos, o mesmo ocorrendo nas hipóteses de força maior ou caso 
fortuito.

18. Reconhecem o(a)s usuário(a)s participantes que terceiros de má fé poderão utilizar-se de subterfúgios tecnológicos, a fim de terem acesso a seus dados pessoais, inclusive, mas sem se limitar a, ou a fraudar o Programa e, por esta razão, isentam o de qualquer responsabilidade correlata.

19. A empresa promotora se reserva o direito de efetuar toda e qualquer ação corretiva que se aplique às ações de terceiros que venham a interferir no bom funcionamento de seus sites.

20. A empresa promotora poderá suspender ou interromper definitivamente este concurso a qualquer tempo, a seu exclusivo critério, sem que sejam devidos a(à)os usuário(a)s participantes quaisquer premiações, bonificações ou compensações.
			</textarea></div>
			<br />	
			<div class="checkbox_inp">
				<input type="checkbox" /><span class="label_checkbox">Aceito os termos.</span>
			</div>	
		</div>
		<%end%>		
	
		<%= image_submit_tag ("bt_cadastrar_login.png", :class=>"bt_cadastrar_align")  %>																				
	<% end %>
</div>
