<%content_for :head do%>
	<%= stylesheet_link_tag "cnpj" %>
<%end%>

<div id="Box_left">
<h1 class="Title_cnpj">Área Restrita</h1>
    <p class="Text_1_int">Para continuar, digite o CNPJ de sua revenda, APENAS os números</p>
	<div class="Cnpj_box">
		<%if flash[:msg]%>
			<Script>alert("<%=raw(flash[:msg])%>");</Script>
		<%end%>
		<%=form_tag(revendas_cnpj_index_path)%>
			<label>CNPJ</label><div class="Login_input"><%=text_field_tag :reseller%></div>
			<div class="Spacefield"></div><br /><br /><br />
			<%= image_submit_tag("bt_cadastrar_login.png", :class=>"bt_cadastrar_align", :style => "width:156px; height:42px;") %>
			<%= image_tag("img_detal_cnpj.png", :class=>"Img_line_align") %>
		</form>
	</div> 
</div>
<div id="Box_right">
    <div id="Box_ondeencontrar">
    <br />
        <h1 class="Title_3_int_blue_big">Onde encontrar?</h1>
        <p class="Text_2_int">Selecione as informações de sua localização abaixo e encontre as revendas mais próximas.</p>
        <p class="Title_4_int"><a href="./onde_encontrar">Clique aqui!</a></p><br /><br /><br /><br /><br /><br />
        <h1 class="Title_5_int">Veja também:</h1>
        <a href="./ph_clorador"><img src="../images/img_aquaclor_ph_cl.png" width="205" height="61" class="img_align_aqua_box_left" /></a>
		<br /><br /><br />
		<a href="./clorador"><img src="../images/img_aquaclor_clorador.png" width="205" height="61" class="img_align_aqua_box_left" /></a>
    </div>   

</div>