<% title "Rank" %>
<%content_for :head do%>
	<style>
	p.ShowMsgNotas{
		text-align:center;
		font-size: 14px;
	}
		p.ShowMsgNotas span{
			font-weight: bold;
		}
	</style>
<%end%>
<h1>Rank</h1><br />
<p>Verifique abaixo o rank de venda.</p>
<br />
<p class="ShowMsgNotas">Existem <span><%= @NotasCadastradas %></span> notas cadastradas, totalizando <span><%= @ProdutosCadastrados %></span> produtos!</p>
<p class="ShowMsgNotas">Destas <span><%= @NotasValidadas%></span> notas já estão validadas!</p><br />
<br />
<br />
<table cellspacing="0" class="tablesorter">
  <thead> 
  <tr>
	<th style="width:10%;">Posição</th>
    <th  style="width:15%;">Pontos</th>	
    <th style="width:30%;">Nome</th>
    <th style="width:30%;">Revenda</th>
    <th  style="width:15%;">Ações</th>
</tr>
</thead> 
<tbody>
  <% i = 1 %>	
  <% for rank in @ressellers %>
    <tr>
	  <td><%= i %></td>
      <td><%= rank.totalvendas %></td>	
      <td><%= rank.user.name %></td>
      <td><%= rank.user.reseller.name %></td>
      <td><%= link_to "Visualizar Notas", admin_rank_path(rank.user_id) %></td>
    </tr>
	<% i = i +1 %>
  <% end %>
  </tbody>
</table>
